
@model WeatherApp.Models.WeatherCondition

<div class="container p-3">
    <div class="w-100 btn-group" role="group">
        <a class="nav-link text-dark" asp-area="" asp-controller="WeatherCondition" asp-action="OneDay">Погода сейчас</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="WeatherCondition" asp-action="FiveDays">Прогноз погоды на 5 дней</a>
    </div>
</div>

